# Format: //devtools/kokoro/config/proto/build.proto

build_file: "github/data-manager-python/.kokoro/release.sh"

# TODO: Remove after verifying uploads to artifact registry are WAI.
env_vars: {
  key: "DRY_RUN"
  value: "true"
}

container_properties {
  docker_image: "us-central1-docker.pkg.dev/kokoro-container-bakery/kokoro/ubuntu/ubuntu2204/full:current"
}

